
.ext-icon{width:32px;height:32px;display:inline-block;background:url("../img/icons/ext/file_extension_unknown.png") no-repeat center;}
.ext-icon-3gp{background-image:url("../img/icons/ext/file_extension_3gp.png");}
.ext-icon-7z{background-image:url("../img/icons/ext/file_extension_7z.png");}
.ext-icon-ace{background-image:url("../img/icons/ext/file_extension_ace.png");}
.ext-icon-ai{background-image:url("../img/icons/ext/file_extension_ai.png");}
.ext-icon-aif{background-image:url("../img/icons/ext/file_extension_aif.png");}
.ext-icon-aiff{background-image:url("../img/icons/ext/file_extension_aiff.png");}
.ext-icon-amr{background-image:url("../img/icons/ext/file_extension_amr.png");}
.ext-icon-asf{background-image:url("../img/icons/ext/file_extension_asf.png");}
.ext-icon-asx{background-image:url("../img/icons/ext/file_extension_asx.png");}
.ext-icon-bat{background-image:url("../img/icons/ext/file_extension_bat.png");}
.ext-icon-bin{background-image:url("../img/icons/ext/file_extension_bin.png");}
.ext-icon-bmp{background-image:url("../img/icons/ext/file_extension_bmp.png");}
.ext-icon-bup{background-image:url("../img/icons/ext/file_extension_bup.png");}
.ext-icon-cab{background-image:url("../img/icons/ext/file_extension_cab.png");}
.ext-icon-cbr{background-image:url("../img/icons/ext/file_extension_cbr.png");}
.ext-icon-cda{background-image:url("../img/icons/ext/file_extension_cda.png");}
.ext-icon-cdl{background-image:url("../img/icons/ext/file_extension_cdl.png");}
.ext-icon-cdr{background-image:url("../img/icons/ext/file_extension_cdr.png");}
.ext-icon-chm{background-image:url("../img/icons/ext/file_extension_chm.png");}
.ext-icon-dat{background-image:url("../img/icons/ext/file_extension_dat.png");}
.ext-icon-divx{background-image:url("../img/icons/ext/file_extension_divx.png");}
.ext-icon-dll{background-image:url("../img/icons/ext/file_extension_dll.png");}
.ext-icon-dmg{background-image:url("../img/icons/ext/file_extension_dmg.png");}
.ext-icon-doc{background-image:url("../img/icons/ext/file_extension_doc.png");}
.ext-icon-dss{background-image:url("../img/icons/ext/file_extension_dss.png");}
.ext-icon-dvf{background-image:url("../img/icons/ext/file_extension_dvf.png");}
.ext-icon-dwg{background-image:url("../img/icons/ext/file_extension_dwg.png");}
.ext-icon-eml{background-image:url("../img/icons/ext/file_extension_eml.png");}
.ext-icon-eps{background-image:url("../img/icons/ext/file_extension_eps.png");}
.ext-icon-exe{background-image:url("../img/icons/ext/file_extension_exe.png");}
.ext-icon-fla{background-image:url("../img/icons/ext/file_extension_fla.png");}
.ext-icon-flv{background-image:url("../img/icons/ext/file_extension_flv.png");}
.ext-icon-gif{background-image:url("../img/icons/ext/file_extension_gif.png");}
.ext-icon-gz{background-image:url("../img/icons/ext/file_extension_gz.png");}
.ext-icon-hqx{background-image:url("../img/icons/ext/file_extension_hqx.png");}
.ext-icon-htm{background-image:url("../img/icons/ext/file_extension_htm.png");}
.ext-icon-html{background-image:url("../img/icons/ext/file_extension_html.png");}
.ext-icon-ifo{background-image:url("../img/icons/ext/file_extension_ifo.png");}
.ext-icon-indd{background-image:url("../img/icons/ext/file_extension_indd.png");}
.ext-icon-iso{background-image:url("../img/icons/ext/file_extension_iso.png");}
.ext-icon-jar{background-image:url("../img/icons/ext/file_extension_jar.png");}
.ext-icon-jpeg{background-image:url("../img/icons/ext/file_extension_jpeg.png");}
.ext-icon-jpg{background-image:url("../img/icons/ext/file_extension_jpg.png");}
.ext-icon-lnk{background-image:url("../img/icons/ext/file_extension_lnk.png");}
.ext-icon-log{background-image:url("../img/icons/ext/file_extension_log.png");}
.ext-icon-m4a{background-image:url("../img/icons/ext/file_extension_m4a.png");}
.ext-icon-m4b{background-image:url("../img/icons/ext/file_extension_m4b.png");}
.ext-icon-m4p{background-image:url("../img/icons/ext/file_extension_m4p.png");}
.ext-icon-m4v{background-image:url("../img/icons/ext/file_extension_m4v.png");}
.ext-icon-mcd{background-image:url("../img/icons/ext/file_extension_mcd.png");}
.ext-icon-mdb{background-image:url("../img/icons/ext/file_extension_mdb.png");}
.ext-icon-mid{background-image:url("../img/icons/ext/file_extension_mid.png");}
.ext-icon-mov{background-image:url("../img/icons/ext/file_extension_mov.png");}
.ext-icon-mp2{background-image:url("../img/icons/ext/file_extension_mp2.png");}
.ext-icon-mp4{background-image:url("../img/icons/ext/file_extension_mp4.png");}
.ext-icon-mpeg{background-image:url("../img/icons/ext/file_extension_mpeg.png");}
.ext-icon-mpg{background-image:url("../img/icons/ext/file_extension_mpg.png");}
.ext-icon-msi{background-image:url("../img/icons/ext/file_extension_msi.png");}
.ext-icon-mswmm{background-image:url("../img/icons/ext/file_extension_mswmm.png");}
.ext-icon-ogg{background-image:url("../img/icons/ext/file_extension_ogg.png");}
.ext-icon-pdf{background-image:url("../img/icons/ext/file_extension_pdf.png");}
.ext-icon-png{background-image:url("../img/icons/ext/file_extension_png.png");}
.ext-icon-pps{background-image:url("../img/icons/ext/file_extension_pps.png");}
.ext-icon-ps{background-image:url("../img/icons/ext/file_extension_ps.png");}
.ext-icon-psd{background-image:url("../img/icons/ext/file_extension_psd.png");}
.ext-icon-pst{background-image:url("../img/icons/ext/file_extension_pst.png");}
.ext-icon-ptb{background-image:url("../img/icons/ext/file_extension_ptb.png");}
.ext-icon-pub{background-image:url("../img/icons/ext/file_extension_pub.png");}
.ext-icon-qbb{background-image:url("../img/icons/ext/file_extension_qbb.png");}
.ext-icon-qbw{background-image:url("../img/icons/ext/file_extension_qbw.png");}
.ext-icon-qxd{background-image:url("../img/icons/ext/file_extension_qxd.png");}
.ext-icon-ram{background-image:url("../img/icons/ext/file_extension_ram.png");}
.ext-icon-rar{background-image:url("../img/icons/ext/file_extension_rar.png");}
.ext-icon-rm{background-image:url("../img/icons/ext/file_extension_rm.png");}
.ext-icon-rmvb{background-image:url("../img/icons/ext/file_extension_rmvb.png");}
.ext-icon-rtf{background-image:url("../img/icons/ext/file_extension_rtf.png");}
.ext-icon-sea{background-image:url("../img/icons/ext/file_extension_sea.png");}
.ext-icon-ses{background-image:url("../img/icons/ext/file_extension_ses.png");}
.ext-icon-sit{background-image:url("../img/icons/ext/file_extension_sit.png");}
.ext-icon-sitx{background-image:url("../img/icons/ext/file_extension_sitx.png");}
.ext-icon-ss{background-image:url("../img/icons/ext/file_extension_ss.png");}
.ext-icon-swf{background-image:url("../img/icons/ext/file_extension_swf.png");}
.ext-icon-tgz{background-image:url("../img/icons/ext/file_extension_tgz.png");}
.ext-icon-thm{background-image:url("../img/icons/ext/file_extension_thm.png");}
.ext-icon-tif{background-image:url("../img/icons/ext/file_extension_tif.png");}
.ext-icon-tmp{background-image:url("../img/icons/ext/file_extension_tmp.png");}
.ext-icon-torrent{background-image:url("../img/icons/ext/file_extension_torrent.png");}
.ext-icon-ttf{background-image:url("../img/icons/ext/file_extension_ttf.png");}
.ext-icon-txt{background-image:url("../img/icons/ext/file_extension_txt.png");}
.ext-icon-unknown{background-image:url("../img/icons/ext/file_extension_unknown.png");}
.ext-icon-vcd{background-image:url("../img/icons/ext/file_extension_vcd.png");}
.ext-icon-vob{background-image:url("../img/icons/ext/file_extension_vob.png");}
.ext-icon-wav{background-image:url("../img/icons/ext/file_extension_wav.png");}
.ext-icon-wma{background-image:url("../img/icons/ext/file_extension_wma.png");}
.ext-icon-wmv{background-image:url("../img/icons/ext/file_extension_wmv.png");}
.ext-icon-wps{background-image:url("../img/icons/ext/file_extension_wps.png");}
.ext-icon-xls{background-image:url("../img/icons/ext/file_extension_xls.png");}
.ext-icon-csv{background-image:url("../img/icons/ext/file_extension_csv.png");}
.ext-icon-xpi{background-image:url("../img/icons/ext/file_extension_xpi.png");}
.ext-icon-zip{background-image:url("../img/icons/ext/file_extension_zip.png");}

